################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.vsidx
/01_Project/.vs/WindowsFormsApp1/v17/.suo
